<a class="row container homepage-single-post" href="/post/{{id}}">
    <div class="homepage-header row">
        <p class="homepage-post-title col">{{title}}</h3>
        <p class="homepage-post-date col">Posted by {{user.username}} on {{formate_date created_at}}</p>
    </div>
    <p class="homepage-post-content row">{{post_content}}</p>
</a>